<h2>Editing Book</h2>
<%= form_for(@book,url:'/new/#{@book.id}/edit') do |f| %>

	<h5>title</h5>
	<%= f.text_field :title %>

	<h5>Body</h5>
	<%= f.text_area :body %>

	<%= f.submit 'Update Book' %>

<% end %>
